<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Global BMT Consulting</title>
    <meta name="description" content="">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/css/animsition.css">
    <link rel="stylesheet" type="text/css" href="css/sweetalert.css">
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css">  
    <link rel="stylesheet" href="css/swipebox.min.css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body>
    <div class="animsition">
      <!-- Header -->
      <div class="mdl-layout mdl-js-layout mdl-layout--overlay-drawer-button">
        <header class="mdl-layout__header mdl-layout__header--waterfall">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            
            <!-- Spacer -->
            <div class="mdl-layout-spacer"></div>
            <!-- Right Menu -->
            <button  class="mdl-button mdl-js-button mdl-button--icon">
              <i class="material-icons">arrow_back</i>
            </button>
          </div>
        </header>
        <!-- Top-right Dropdown Menu -->
        
        <!-- Sidebar -->
        <div class="mdl-layout__drawer">
          <!-- Top -->
          <div class="mdl-card mdl-shadow--2dp mdl-color--primary mdl-color-text--blue-grey-50 drawer-profile">
            <div class="mdl-card__title user">
              <img src="img/user.jpg" alt="" />
              <span class="user-name">Jonathan Lee</span>
              <span class="user-mail">jonathan@email.com</span>
             
            </div>
            <!-- Top-right User -->
            <div class="mdl-card__menu">
              <img class="sub-user" src="img/sub-user.jpg" alt="" />
            </div>
          </div>
          
           <!-- Main Navigation -->
          <nav class="mdl-navigation">
           <a class="mdl-navigation__link animsition-link" href="calendar.html"><i class="material-icons">today</i><span>Calendar</span></a>
            <a class="mdl-navigation__link animsition-link" href="profile.html"><i class="material-icons">account_circle</i><span>Profile</span></a>
             <a class="mdl-navigation__link animsition-link" href="login.html"><i class="material-icons">cancel
             </i><span>Log Out</span></a>
          </nav>
        </div>

        <!-- Page Content -->
        <main class="mdl-layout__content">
         <!--  <img src="img/6.jpg" alt=""> --> <!-- month image -->

          <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; ">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">Just now</span>
            </div></a>
            <div class="clr"></div>
          </div>

          <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; background-color: #f0f0f0!important; color: #9a9a9a;">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">2 days ago</span>
            </div></a>
            <div class="clr"></div>
          </div>

           <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; background-color: #f0f0f0!important; color: #9a9a9a;">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">2 days ago</span>
            </div></a>
            <div class="clr"></div>
          </div>

           <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; background-color: #f0f0f0!important; color: #9a9a9a;">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">2 days ago</span>
            </div></a>
            <div class="clr"></div>
          </div>

           <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; background-color: #f0f0f0!important; color: #9a9a9a;">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">2 days ago</span>
            </div></a>
            <div class="clr"></div>
          </div>

           <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; background-color: #f0f0f0!important; color: #9a9a9a;">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">2 days ago</span>
            </div></a>
            <div class="clr"></div>
          </div>

           <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; background-color: #f0f0f0!important; color: #9a9a9a;">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">2 days ago</span>
            </div></a>
            <div class="clr"></div>
          </div>

           <!-- notificaction container -->
          <div class="calendar-day">
            <!-- day date -->
            <!-- day colored activity -->
            <a href="meeting.html"><div class="calendar-activity teal mdl-shadow--1dp" style="width: 85%!important; background-color: #f0f0f0!important; color: #9a9a9a;">
                          <!--  <a id="sa-success" class="mdl-button mdl-js-button"><i class="material-icons">close</i></a> -->
              <span>New Meeting</span>
              <span class="calendar-hour">2 days ago</span>
            </div></a>
            <div class="clr"></div>
          </div>

          </div>
        </main>
      </div>
    </div>

    <script src="js/jquery-2.1.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animsition/3.5.2/js/jquery.animsition.js"></script>
    <script src="js/sweetalert.min.js"></script> 
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.3/material.min.js"></script>
    <script src="js/jquery.swipebox.min.js"></script>
    <script src="js/function.js"></script>
    <script src="js/sweet.js"></script>
  </body>
</html>
